doctype html 
html 
    head 
        link(rel='stylesheet' href='/css/styles.css')
        title Did Seiya Suzuki Get a Hit?
    body 
        header Did Seiya Suzuki Get a Hit?
        #container
            #img-container
                #img-div
                    img#seiya-picture 
            #status-container 
                 #status
            #game-info-container
                #game-info
    script(src='/js/seiya.js' type='module')